<div class = "container">

    <div class = "jumbotron">
        <h1> Eat Da Burgers</h1>
        <p>Create your burgers. Eat the burgers</p>
        <h2>Make your burger</h2>
        <panel>
            <forum class = "create-form">
                <div class = "form-group">
                    <label for = "newburger">Order Fresh Burgers</label>
                    <input type = "text" id="newburger" name "burger">
                    <button type= "submit" class="btn btn-success" id="addburger">
                        <spam class="fa fa-thumbs-up"></spam>
                    </button>
                </div>
            </forum>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id= "leftside"><strong>Order Your Burger</strong></div>
                <div class="panel-body"></div>

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                            <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
                            
                        {{/unless}}
                        {{/each}}
                    </ul>
            </div>
        </div>
    </div>
    <div class = "col-sm-6">
        <div class "panel panel-default">
            <div class = "panel-heading" id="rightside"><strong>Eat That Burger</strong></div>
            <div class = "panel-body">
                <h4>add content here</h4>
            </div>
        </div>
    </div>
</div>